<a href="https://colab.research.google.com/github/Ahtesham-Ibne-Mostafa/Machine_Etymology/blob/main/Data_Split.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
data= pd.read_excel('/content/drive/MyDrive/Research data/DS-Healthcare_version_2.xlsx')

In [3]:
data.head()

,Subject,Type,Cycle,Time,RR-I,HR,R-H,P-H,QRS,PRQ,QT,QTC,ST
0,E1,ischemic,1,1.072,0.932,64.377682,3.305,3.810,0.088,0.160,0.384,0.397762,0.296
1,E1,ischemic,2,2.004,1.004,59.760956,3.285,3.810,0.100,0.160,0.640,0.638724,0.540
2,E1,ischemic,3,3.008,0.996,60.240964,3.340,3.830,0.128,0.148,0.628,0.629260,0.500
3,E1,ischemic,4,4.004,1.016,59.055118,3.325,3.810,0.108,0.172,0.388,0.384933,0.280
4,E1,ischemic,5,5.020,0.972,61.728395,3.290,3.765,0.100,0.160,0.372,0.377320,0.272

In [4]:
data.head(-1)

,Subject,Type,Cycle,Time,RR-I,HR,R-H,P-H,QRS,PRQ,QT,QTC,ST
0,E1,ischemic,1,1.072000,0.932000,64.377682,3.305,3.810,0.088000,0.160000,0.384000,0.397762,0.296000
1,E1,ischemic,2,2.004000,1.004000,59.760956,3.285,3.810,0.100000,0.160000,0.640000,0.638724,0.540000
2,E1,ischemic,3,3.008000,0.996000,60.240964,3.340,3.830,0.128000,0.148000,0.628000,0.629260,0.500000
3,E1,ischemic,4,4.004000,1.016000,59.055118,3.325,3.810,0.108000,0.172000,0.388000,0.384933,0.280000
4,E1,ischemic,5,5.020000,0.972000,61.728395,3.290,3.765,0.100000,0.160000,0.372000,0.377320,0.272000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
888811,M28,arrhythmic,738,481.522222,0.638889,93.913043,0.680,-0.315,0.063889,0.158333,0.402778,0.503910,0.350000
888812,M28,arrhythmic,739,482.161111,0.652778,91.914894,0.660,-0.335,0.066667,0.163889,0.411111,0.508834,0.355556
888813,M28,arrhythmic,740,482.813889,0.675000,88.888889,0.605,-0.345,0.066667,0.172222,0.413889,0.503770,0.358333
888814,M28,arrhythmic,741,483.488889,0.647222,92.703863,0.795,-0.335,0.055556,0.161111,0.397222,0.493750,0.341667
888815,M28,arrhythmic,742,484.136111,0.647222,92.703863,0.825,-0.330,0.069444,0.152778,0.400000,0.497202,0.344444

In [5]:
data.head(-5)

,Subject,Type,Cycle,Time,RR-I,HR,R-H,P-H,QRS,PRQ,QT,QTC,ST
0,E1,ischemic,1,1.072000,0.932000,64.377682,3.305,3.810,0.088000,0.160000,0.384000,0.397762,0.296000
1,E1,ischemic,2,2.004000,1.004000,59.760956,3.285,3.810,0.100000,0.160000,0.640000,0.638724,0.540000
2,E1,ischemic,3,3.008000,0.996000,60.240964,3.340,3.830,0.128000,0.148000,0.628000,0.629260,0.500000
3,E1,ischemic,4,4.004000,1.016000,59.055118,3.325,3.810,0.108000,0.172000,0.388000,0.384933,0.280000
4,E1,ischemic,5,5.020000,0.972000,61.728395,3.290,3.765,0.100000,0.160000,0.372000,0.377320,0.272000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
888807,M28,arrhythmic,734,478.947222,0.638889,93.913043,0.610,-0.290,0.066667,0.161111,0.380556,0.476108,0.325000
888808,M28,arrhythmic,735,479.586111,0.650000,92.307692,0.625,-0.320,0.066667,0.152778,0.380556,0.472021,0.325000
888809,M28,arrhythmic,736,480.236111,0.652778,91.914894,0.635,-0.320,0.069444,0.147222,0.413889,0.512273,0.358333
888810,M28,arrhythmic,737,480.888889,0.633333,94.736842,0.780,-0.305,0.063889,0.163889,0.377778,0.474701,0.325000
888811,M28,arrhythmic,738,481.522222,0.638889,93.913043,0.680,-0.315,0.063889,0.158333,0.402778,0.503910,0.350000

In [6]:
data.columns

Index(['Subject', 'Type', 'Cycle', 'Time', 'RR-I', 'HR', 'R-H', 'P-H', 'QRS',
       'PRQ', 'QT', 'QTC', 'ST'],
      dtype='object')

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 888817 entries, 0 to 888816
Data columns (total 13 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   Subject  888817 non-null  object
 1   Type     888817 non-null  object
 2   Cycle    888817 non-null  int64
 3   Time     888817 non-null  float64
 4   RR-I     888817 non-null  float64
 5   HR       888817 non-null  float64
 6   R-H      888817 non-null  float64
 7   P-H      888817 non-null  float64
 8   QRS      888817 non-null  float64
 9   PRQ      888817 non-null  float64
 10  QT       888817 non-null  float64
 11  QTC      888817 non-null  float64
 12  ST       888817 non-null  float64
dtypes: float64(10), int64(1), object(2)
memory usage: 88.2+ MB

In [8]:
data['Subject'].value_counts()

E52    14450
E46    13334
E63    11666
E61    11117
E17    11107
       ...
M8       570
E53      555
M5       428
F15      395
           1
Name: Subject, Length: 148, dtype: int64

In [9]:
target = 'Type'

In [10]:
X= data.loc[:,data.columns != target]

X.head()

,Subject,Cycle,Time,RR-I,HR,R-H,P-H,QRS,PRQ,QT,QTC,ST
0,E1,1,1.072,0.932,64.377682,3.305,3.810,0.088,0.160,0.384,0.397762,0.296
1,E1,2,2.004,1.004,59.760956,3.285,3.810,0.100,0.160,0.640,0.638724,0.540
2,E1,3,3.008,0.996,60.240964,3.340,3.830,0.128,0.148,0.628,0.629260,0.500
3,E1,4,4.004,1.016,59.055118,3.325,3.810,0.108,0.172,0.388,0.384933,0.280
4,E1,5,5.020,0.972,61.728395,3.290,3.765,0.100,0.160,0.372,0.377320,0.272

In [11]:
Y = data[target]

Y.head()

0    ischemic
1    ischemic
2    ischemic
3    ischemic
4    ischemic
Name: Type, dtype: object

##Spliting 80/20

In [12]:
def train_test_split(X,Y,test_size):
    rows=X.shape[0]
    train_size=1-test_size
    train=int(rows*train_size)
    
    f=X['Subject'][train]
    count1=0
    index1=train
    while X['Subject'][index1]==f:
        index1-=1
        count1+=1
    index2=train+1
    count2=0
    while X['Subject'][index2]==f:
        index2+=1
        count2+=1

    if count1>count2:
        train+=count2
    else:
        train-=count1

    test=rows-train
    print('Train Subject start and end:',X['Subject'][0],'To',X['Subject'][train])
    print('Test Subject start and end:',X['Subject'][train+1],'To',X['Subject'][rows-1])
    print('Train Percentage:',train/rows)
    X_train= X[:train+2]
    X_test= X[train+1:]
    Y_train = Y[:train+2]
    Y_test = Y[train+1:]
    return X_train,X_test,Y_train,Y_test

In [13]:

X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.2)

Train Subject start and end: E1 To F20
Test Subject start and end: F21 To M28
Train Percentage: 0.8027152945994507

In [14]:
X_train.head(-1)

,Subject,Cycle,Time,RR-I,HR,R-H,P-H,QRS,PRQ,QT,QTC,ST
0,E1,1,1.072,0.932,64.377682,3.305,3.810,0.088,0.160,0.384,0.397762,0.296
1,E1,2,2.004,1.004,59.760956,3.285,3.810,0.100,0.160,0.640,0.638724,0.540
2,E1,3,3.008,0.996,60.240964,3.340,3.830,0.128,0.148,0.628,0.629260,0.500
3,E1,4,4.004,1.016,59.055118,3.325,3.810,0.108,0.172,0.388,0.384933,0.280
4,E1,5,5.020,0.972,61.728395,3.290,3.765,0.100,0.160,0.372,0.377320,0.272
...,...,...,...,...,...,...,...,...,...,...,...,...
713463,F20,8687,7238.184,0.712,84.269660,11.164,8.488,0.064,0.148,0.380,0.450340,0.316
713464,F20,8688,7238.896,0.720,83.333330,11.256,8.312,0.084,0.140,0.384,0.452550,0.312
713465,F20,8689,7239.616,0.764,78.534030,10.640,8.468,0.092,0.204,0.388,0.443900,0.308
713466,F20,8690,7240.380,0.756,79.365080,11.240,8.744,0.060,0.216,0.432,0.496850,0.372
713467,F20,8691,7241.136,0.744,80.645160,10.980,8.108,0.064,0.168,0.344,0.398820,0.280

In [15]:
X_train.shape

(713469, 12)

In [16]:
X_test.head(-1)

,Subject,Cycle,Time,RR-I,HR,R-H,P-H,QRS,PRQ,QT,QTC,ST
713468,F21,2,1.704000,0.936000,64.102560,0.60913,-0.07446,0.084000,0.140000,0.412000,0.425850,0.352000
713469,F21,3,2.640000,0.928000,64.655170,0.59326,-0.06836,0.084000,0.132000,0.412000,0.427680,0.352000
713470,F21,4,3.568000,0.916000,65.502180,0.53223,0.07324,0.084000,0.136000,0.404000,0.422120,0.348000
713471,F21,5,4.484000,0.892000,67.264570,0.80566,0.04883,0.084000,0.136000,0.408000,0.431990,0.348000
713472,F21,6,5.376000,0.904000,66.371680,0.58838,-0.08057,0.084000,0.140000,0.408000,0.429120,0.348000
...,...,...,...,...,...,...,...,...,...,...,...,...
888811,M28,738,481.522222,0.638889,93.913043,0.68000,-0.31500,0.063889,0.158333,0.402778,0.503910,0.350000
888812,M28,739,482.161111,0.652778,91.914894,0.66000,-0.33500,0.066667,0.163889,0.411111,0.508834,0.355556
888813,M28,740,482.813889,0.675000,88.888889,0.60500,-0.34500,0.066667,0.172222,0.413889,0.503770,0.358333
888814,M28,741,483.488889,0.647222,92.703863,0.79500,-0.33500,0.055556,0.161111,0.397222,0.493750,0.341667
888815,M28,742,484.136111,0.647222,92.703863,0.82500,-0.33000,0.069444,0.152778,0.400000,0.497202,0.344444

In [17]:
Y_train.head(-1)

0         ischemic
1         ischemic
2         ischemic
3         ischemic
4         ischemic
            ...
713463     healthy
713464     healthy
713465     healthy
713466     healthy
713467     healthy
Name: Type, Length: 713468, dtype: object

In [18]:
Y_test.head(-1)

713468       healthy
713469       healthy
713470       healthy
713471       healthy
713472       healthy
             ...
888811    arrhythmic
888812    arrhythmic
888813    arrhythmic
888814    arrhythmic
888815    arrhythmic
Name: Type, Length: 175348, dtype: object