<a href="https://colab.research.google.com/github/Ahtesham-Ibne-Mostafa/Machine_Etymology/blob/main/DS_Healthcare_version_3_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df= pd.read_excel('DS-Healthcare_version_2.xlsx')

In [ ]:
target = 'Type'

In [ ]:
df[target].value_counts()

ischemic      581219
healthy       267360
arrhythmic     40238
Name: Type, dtype: int64

In [ ]:
def split(df,percentage,target):
    f=df[target].value_counts()
    rows=df.shape[0]
    talika=[]
    count=0
    for i in f:
        talika.append(i)
    lst=[]
    start=0

    switch=False

    for i in talika :

        split=start+int(i*percentage)
        
        end=start+i-1
              
        if switch == False:
            data= df[start:split+1]
            lst.append(split-start)
            switch=True

        else:
            lst.append(split-start)
            data=pd.concat([data, df[start:split+1]], ignore_index=True)

        start=start+i
    print('The ratio would b: ',end='')
    ratio=''
    for i in lst:
        ratio+=(i/sum(lst),end=' ')
    return data

In [ ]:
data=split(df,percentage=0.05,target='Type')

The ratio would be :0.6539301064380386 0.30081685006413283 0.045253043497828487

In [ ]:
data.head(-1)

,Subject,Type,Cycle,Time,RR-I,HR,R-H,P-H,QRS,PRQ,QT,QTC,ST
0,E1,ischemic,1,1.072,0.93200,64.377682,3.305,3.810,0.08800,0.16000,0.38400,0.397762,0.29600
1,E1,ischemic,2,2.004,1.00400,59.760956,3.285,3.810,0.10000,0.16000,0.64000,0.638724,0.54000
2,E1,ischemic,3,3.008,0.99600,60.240964,3.340,3.830,0.12800,0.14800,0.62800,0.629260,0.50000
3,E1,ischemic,4,4.004,1.01600,59.055118,3.325,3.810,0.10800,0.17200,0.38800,0.384933,0.28000
4,E1,ischemic,5,5.020,0.97200,61.728395,3.290,3.765,0.10000,0.16000,0.37200,0.377320,0.27200
...,...,...,...,...,...,...,...,...,...,...,...,...,...
44436,M1,arrhythmic,2074,1653.128,0.76389,78.545450,0.960,-0.140,0.08889,0.18611,0.48333,0.553010,0.41111
44437,M1,arrhythmic,2075,1653.892,0.79722,75.261320,0.900,-0.250,0.08333,0.20278,0.49444,0.553770,0.41944
44438,M1,arrhythmic,2076,1654.689,0.84167,71.287130,0.665,-0.175,0.10000,0.20000,0.46944,0.511700,0.40000
44439,M1,arrhythmic,2077,1655.531,0.79444,75.524480,0.980,-0.085,0.08333,0.22500,0.56111,0.629530,0.48889
44440,M1,arrhythmic,2078,1656.325,0.84722,70.819670,1.025,-0.130,0.07222,0.22222,0.48056,0.522090,0.41111

In [ ]:
X= data.loc[:,data.columns != target]

X.head(-1)

,Subject,Cycle,Time,RR-I,HR,R-H,P-H,QRS,PRQ,QT,QTC,ST
0,E1,1,1.072,0.93200,64.377682,3.305,3.810,0.08800,0.16000,0.38400,0.397762,0.29600
1,E1,2,2.004,1.00400,59.760956,3.285,3.810,0.10000,0.16000,0.64000,0.638724,0.54000
2,E1,3,3.008,0.99600,60.240964,3.340,3.830,0.12800,0.14800,0.62800,0.629260,0.50000
3,E1,4,4.004,1.01600,59.055118,3.325,3.810,0.10800,0.17200,0.38800,0.384933,0.28000
4,E1,5,5.020,0.97200,61.728395,3.290,3.765,0.10000,0.16000,0.37200,0.377320,0.27200
...,...,...,...,...,...,...,...,...,...,...,...,...
44436,M1,2074,1653.128,0.76389,78.545450,0.960,-0.140,0.08889,0.18611,0.48333,0.553010,0.41111
44437,M1,2075,1653.892,0.79722,75.261320,0.900,-0.250,0.08333,0.20278,0.49444,0.553770,0.41944
44438,M1,2076,1654.689,0.84167,71.287130,0.665,-0.175,0.10000,0.20000,0.46944,0.511700,0.40000
44439,M1,2077,1655.531,0.79444,75.524480,0.980,-0.085,0.08333,0.22500,0.56111,0.629530,0.48889
44440,M1,2078,1656.325,0.84722,70.819670,1.025,-0.130,0.07222,0.22222,0.48056,0.522090,0.41111

In [ ]:
Y = data[target]

Y.head(-1)

0          ischemic
1          ischemic
2          ischemic
3          ischemic
4          ischemic
            ...
44436    arrhythmic
44437    arrhythmic
44438    arrhythmic
44439    arrhythmic
44440    arrhythmic
Name: Type, Length: 44441, dtype: object

In [ ]:
Y.value_counts()

ischemic      29061
healthy       13369
arrhythmic     2012
Name: Type, dtype: int64

In [ ]:
def train_test_split(X,Y,test_size,feature):

    f=Y.value_counts()
    rows=X.shape[0]
    talika=[]
    count=0
    for i in f:
        talika.append(i)

    train_size=1-test_size
    start=0

    switch=False

    for i in talika :

        train=start+int(i*train_size)
        f= X[feature][train]
        count1=0
        count2=0
        index1=train
        index2=train+1
        end=start+i-1
        
        while X[feature][index1]==f:
            if index1<start:
                break
            index1-=1
            count1+=1
            
            
        while X[feature][index2]==f:
            if index2>=end:
                break
            index2+=1
            count2+=1

        if count1>=count2:
            train+=count2
        else:
            train-=count1
        
        
        if switch == False:
            X_train= X[start:train+1]
            X_test= X[train+1:end]
            Y_train = Y[start:train+1]
            Y_test = Y[train+1:end]
            switch=True

        else:
            X_train=pd.concat([X_train, X[start:train+1]], ignore_index=True)
            X_test=pd.concat([X_test, X[train+1:end+1]], ignore_index=True)
            Y_train=pd.concat([Y_train, Y[start:train+1]], ignore_index=True)
            Y_test=pd.concat([Y_test, Y[train+1:end+1]], ignore_index=True)

        start=start+i

    print('Train Percentage:',X_train.shape[0]/rows)

    return X_train,X_test,Y_train,Y_test

In [ ]:
 X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.2, feature= 'Subject')

Train Percentage: 0.8181449979748886

In [ ]:
lst=[]
for i in X_train['Subject']:

    if i in X_test['Subject']:
        lst.append(i)
print(lst)

[]

In [ ]:
X_train= X_train.loc[:,X_train.columns != 'Subject']
X_train= X_train.loc[:,X_train.columns != 'Time']
X_train= X_train.loc[:,X_train.columns != 'Cycle']

X_test= X_test.loc[:,X_test.columns != 'Subject']
X_test= X_test.loc[:,X_test.columns != 'Time']
X_test= X_test.loc[:,X_test.columns != 'Cycle']

In [ ]:
Y_test.value_counts()

ischemic      8079
healthy          1
arrhythmic       1
Name: Type, dtype: int64

In [ ]:
Y_train.value_counts()

ischemic      20981
healthy       13368
arrhythmic     2011
Name: Type, dtype: int64

In [ ]:
X_train.head(-1)

,RR-I,HR,R-H,P-H,QRS,PRQ,QT,QTC,ST
0,0.93200,64.377682,3.305,3.810,0.08800,0.16000,0.38400,0.397762,0.29600
1,1.00400,59.760956,3.285,3.810,0.10000,0.16000,0.64000,0.638724,0.54000
2,0.99600,60.240964,3.340,3.830,0.12800,0.14800,0.62800,0.629260,0.50000
3,1.01600,59.055118,3.325,3.810,0.10800,0.17200,0.38800,0.384933,0.28000
4,0.97200,61.728395,3.290,3.765,0.10000,0.16000,0.37200,0.377320,0.27200
...,...,...,...,...,...,...,...,...,...
35548,0.80278,74.740480,0.385,-0.220,0.09167,0.20000,0.51667,0.576650,0.44722
35549,0.80556,74.482760,0.885,-0.250,0.08333,0.20833,0.51667,0.575660,0.43889
35550,0.80833,74.226800,0.780,-0.275,0.08056,0.20000,0.50556,0.562310,0.43333
35551,0.81667,73.469390,0.950,-0.310,0.10278,0.20556,0.51944,0.574800,0.43611
35552,0.86111,69.677420,0.740,-0.210,0.09167,0.21111,0.56944,0.613650,0.49722

In [ ]:
X_test.head(-1)

,RR-I,HR,R-H,P-H,QRS,PRQ,QT,QTC,ST
0,0.856000,70.093458,2.275,-0.435,0.140000,0.132000,0.412000,0.445308,0.292000
1,0.796000,75.376884,1.905,-0.590,0.132000,0.128000,0.380000,0.425919,0.272000
2,0.916000,65.502183,1.860,-0.425,0.132000,0.128000,0.392000,0.409580,0.284000
3,1.388000,43.227666,0.955,-0.480,0.144000,0.132000,0.400000,0.339520,0.304000
4,0.680000,88.235294,2.200,-0.435,0.136000,0.128000,0.372000,0.451116,0.260000
...,...,...,...,...,...,...,...,...,...
8881,1.250000,48.000000,0.920,-0.660,0.108333,0.205556,0.455556,0.407461,0.366667
8882,1.161111,51.674641,0.955,-0.715,0.102778,0.202778,0.461111,0.427926,0.383333
8883,1.197222,50.116009,0.940,-0.740,0.088889,0.202778,0.450000,0.411268,0.380556
8884,1.147222,52.300242,0.850,-0.720,0.091667,0.169444,0.447222,0.417541,0.375000
8885,1.044444,57.446809,0.895,-0.750,0.144444,0.186111,0.483333,0.472938,0.372222

In [ ]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier (n_estimators=200, max_depth=10, random_state=0)

rf.fit(X_train,Y_train)

y_pred = rf.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score

print(accuracy_score(Y_test,y_pred)) # model prediction

0.6265331382918871

In [ ]:
from sklearn.ensemble import AdaBoostClassifier

ada = AdaBoostClassifier()

ada.fit(X_train, Y_train)

y_pred = ada.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score

print(accuracy_score(Y_test,y_pred))

0.08135478789242714

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier

GBC = GradientBoostingClassifier()
GBC.fit(X_train, Y_train)

y_pred = GBC.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score

print(accuracy_score(Y_test,y_pred))

0.08169235962642062

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()
knn.fit(X_train, Y_train)

y_pred=knn.predict(X_test)

from sklearn.metrics import accuracy_score

print(accuracy_score(Y_test,y_pred))

0.15123213682907619

C:\Users\ahtes\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

In [ ]:
from sklearn.naive_bayes import GaussianNB

gnb = GaussianNB()

gnb.fit(X_train, Y_train)

y_pred = gnb.predict(X_test)


from sklearn.metrics import accuracy_score

print(accuracy_score(Y_test,y_pred))

0.653651400922696

In [ ]:
def train_test_split(X,Y,test_size,feature):
    dict={}
    count=0
    for i in Y:
        if i not in dict.keys():
            dict[i]=count
        count+=1
    rows=X.shape[0]
    train_size=1-test_size
    train=int(rows*train_size)
    
    f=X[feature][train]
    count1=0
    index1=train

    while X[feature][index1]==f:
        index1-=1
        count1+=1
    index2=train+1
    count2=0
    while X[feature][index2]==f:
        index2+=1
        count2+=1
    if count1>count2:
        train+=count2
    else:
        train-=count1

    test=rows-train
    print('Train Subject start and end:',X['Subject'][0],'To',X['Subject'][train])
    print('Test Subject start and end:',X['Subject'][train+1],'To',X['Subject'][rows-1])
    print('Train Percentage:',train/rows)
    X_train= X[:train+2]
    X_test= X[train+1:]
    Y_train = Y[:train+2]
    Y_test = Y[train+1:]
    return X_train,X_test,Y_train,Y_test