<a href="https://colab.research.google.com/github/Ahtesham-Ibne-Mostafa/Machine_Etymology/blob/main/DS_Healthcare_version_1_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data= pd.read_excel('DS-Healthcare_version_2.xlsx')

In [ ]:
target = 'Type'

In [ ]:
X= data.loc[:,data.columns != target]

X.head(-1)

,Subject,Cycle,Time,RR-I,HR,R-H,P-H,QRS,PRQ,QT,QTC,ST
0,E1,1,1.072000,0.932000,64.377682,3.305,3.810,0.088000,0.160000,0.384000,0.397762,0.296000
1,E1,2,2.004000,1.004000,59.760956,3.285,3.810,0.100000,0.160000,0.640000,0.638724,0.540000
2,E1,3,3.008000,0.996000,60.240964,3.340,3.830,0.128000,0.148000,0.628000,0.629260,0.500000
3,E1,4,4.004000,1.016000,59.055118,3.325,3.810,0.108000,0.172000,0.388000,0.384933,0.280000
4,E1,5,5.020000,0.972000,61.728395,3.290,3.765,0.100000,0.160000,0.372000,0.377320,0.272000
...,...,...,...,...,...,...,...,...,...,...,...,...
888811,M28,738,481.522222,0.638889,93.913043,0.680,-0.315,0.063889,0.158333,0.402778,0.503910,0.350000
888812,M28,739,482.161111,0.652778,91.914894,0.660,-0.335,0.066667,0.163889,0.411111,0.508834,0.355556
888813,M28,740,482.813889,0.675000,88.888889,0.605,-0.345,0.066667,0.172222,0.413889,0.503770,0.358333
888814,M28,741,483.488889,0.647222,92.703863,0.795,-0.335,0.055556,0.161111,0.397222,0.493750,0.341667
888815,M28,742,484.136111,0.647222,92.703863,0.825,-0.330,0.069444,0.152778,0.400000,0.497202,0.344444

In [ ]:
Y = data[target]

Y.head()

0    ischemic
1    ischemic
2    ischemic
3    ischemic
4    ischemic
Name: Type, dtype: object

In [ ]:
Y.value_counts()

ischemic      581219
healthy       267360
arrhythmic     40238
Name: Type, dtype: int64

In [ ]:
def train_test_split(X,Y,test_size,feature):
    dict={}
    count=0
    for i in Y:
        if i not in dict.keys():
            dict[i]=count
        count+=1
    rows=X.shape[0]
    train_size=1-test_size
    train=int(rows*train_size)
    
    f=X[feature][train]
    count1=0
    index1=train

    while X[feature][index1]==f:
        index1-=1
        count1+=1
    index2=train+1
    count2=0
    while X[feature][index2]==f:
        index2+=1
        count2+=1
    if count1>count2:
        train+=count2
    else:
        train-=count1

    test=rows-train
    print('Train Subject start and end:',X['Subject'][0],'To',X['Subject'][train])
    print('Test Subject start and end:',X['Subject'][train+1],'To',X['Subject'][rows-1])
    print('Train Percentage:',train/rows)
    X_train= X[:train+2]
    X_test= X[train+1:]
    Y_train = Y[:train+2]
    Y_test = Y[train+1:]
    return X_train,X_test,Y_train,Y_test

In [ ]:
 X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.2, feature= 'Subject',split_size=0.05)

Train Percentage: 0.040001485120109086

In [ ]:
X_train= X_train.loc[:,X_train.columns != 'Subject']
X_train= X_train.loc[:,X_train.columns != 'Time']
X_train= X_train.loc[:,X_train.columns != 'Cycle']

X_test= X_test.loc[:,X_test.columns != 'Subject']
X_test= X_test.loc[:,X_test.columns != 'Time']
X_test= X_test.loc[:,X_test.columns != 'Cycle']

In [ ]:
Y_test.value_counts()

ischemic      5812
healthy       2673
arrhythmic     402
Name: Type, dtype: int64

In [ ]:
Y_train.value_counts()

ischemic      23249
healthy       10695
arrhythmic     1610
Name: Type, dtype: int64

In [ ]:
X_train.head(-1)

,RR-I,HR,R-H,P-H,QRS,PRQ,QT,QTC,ST
0,0.93200,64.377682,3.305,3.810,0.08800,0.16000,0.38400,0.397762,0.29600
1,1.00400,59.760956,3.285,3.810,0.10000,0.16000,0.64000,0.638724,0.54000
2,0.99600,60.240964,3.340,3.830,0.12800,0.14800,0.62800,0.629260,0.50000
3,1.01600,59.055118,3.325,3.810,0.10800,0.17200,0.38800,0.384933,0.28000
4,0.97200,61.728395,3.290,3.765,0.10000,0.16000,0.37200,0.377320,0.27200
...,...,...,...,...,...,...,...,...,...
35548,0.80278,74.740480,0.385,-0.220,0.09167,0.20000,0.51667,0.576650,0.44722
35549,0.80556,74.482760,0.885,-0.250,0.08333,0.20833,0.51667,0.575660,0.43889
35550,0.80833,74.226800,0.780,-0.275,0.08056,0.20000,0.50556,0.562310,0.43333
35551,0.81667,73.469390,0.950,-0.310,0.10278,0.20556,0.51944,0.574800,0.43611
35552,0.86111,69.677420,0.740,-0.210,0.09167,0.21111,0.56944,0.613650,0.49722

In [ ]:
X_test.head(-1)

,RR-I,HR,R-H,P-H,QRS,PRQ,QT,QTC,ST
0,0.856000,70.093458,2.275,-0.435,0.140000,0.132000,0.412000,0.445308,0.292000
1,0.796000,75.376884,1.905,-0.590,0.132000,0.128000,0.380000,0.425919,0.272000
2,0.916000,65.502183,1.860,-0.425,0.132000,0.128000,0.392000,0.409580,0.284000
3,1.388000,43.227666,0.955,-0.480,0.144000,0.132000,0.400000,0.339520,0.304000
4,0.680000,88.235294,2.200,-0.435,0.136000,0.128000,0.372000,0.451116,0.260000
...,...,...,...,...,...,...,...,...,...
8881,1.250000,48.000000,0.920,-0.660,0.108333,0.205556,0.455556,0.407461,0.366667
8882,1.161111,51.674641,0.955,-0.715,0.102778,0.202778,0.461111,0.427926,0.383333
8883,1.197222,50.116009,0.940,-0.740,0.088889,0.202778,0.450000,0.411268,0.380556
8884,1.147222,52.300242,0.850,-0.720,0.091667,0.169444,0.447222,0.417541,0.375000
8885,1.044444,57.446809,0.895,-0.750,0.144444,0.186111,0.483333,0.472938,0.372222

In [ ]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier (n_estimators=200, max_depth=10, random_state=0)

rf.fit(X_train,Y_train)

y_pred = rf.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score

print(accuracy_score(Y_test,y_pred)) # model prediction

0.6265331382918871

In [ ]:
from sklearn.ensemble import AdaBoostClassifier

ada = AdaBoostClassifier()

ada.fit(X_train, Y_train)

y_pred = ada.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score

print(accuracy_score(Y_test,y_pred))

0.08135478789242714

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier

GBC = GradientBoostingClassifier()
GBC.fit(X_train, Y_train)

y_pred = GBC.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score

print(accuracy_score(Y_test,y_pred))

0.08169235962642062

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()
knn.fit(X_train, Y_train)

y_pred=knn.predict(X_test)

from sklearn.metrics import accuracy_score

print(accuracy_score(Y_test,y_pred))

0.15123213682907619

C:\Users\ahtes\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

In [ ]:
from sklearn.naive_bayes import GaussianNB

gnb = GaussianNB()

gnb.fit(X_train, Y_train)

y_pred = gnb.predict(X_test)


from sklearn.metrics import accuracy_score

print(accuracy_score(Y_test,y_pred))

0.653651400922696

In [ ]:
def train_test_split(X,Y,test_size,feature):
    dict={}
    count=0
    for i in Y:
        if i not in dict.keys():
            dict[i]=count
        count+=1
    rows=X.shape[0]
    train_size=1-test_size
    train=int(rows*train_size)
    
    f=X[feature][train]
    count1=0
    index1=train

    while X[feature][index1]==f:
        index1-=1
        count1+=1
    index2=train+1
    count2=0
    while X[feature][index2]==f:
        index2+=1
        count2+=1
    if count1>count2:
        train+=count2
    else:
        train-=count1

    test=rows-train
    print('Train Subject start and end:',X['Subject'][0],'To',X['Subject'][train])
    print('Test Subject start and end:',X['Subject'][train+1],'To',X['Subject'][rows-1])
    print('Train Percentage:',train/rows)
    X_train= X[:train+2]
    X_test= X[train+1:]
    Y_train = Y[:train+2]
    Y_test = Y[train+1:]
    return X_train,X_test,Y_train,Y_test