<a href="https://colab.research.google.com/github/Ahtesham-Ibne-Mostafa/Machine_Etymology/blob/main/DS_Healthcare_version_2_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data= pd.read_excel('DS-Healthcare_version_2.xlsx')

In [ ]:
X= data.loc[:,data.columns != target]
X= X.loc[:,X.columns != 'Subject']
X= X.loc[:,X.columns != 'Time']
X= X.loc[:,X.columns != 'Cycle']
X.head(-1)

In [ ]:
target = 'Type'

In [ ]:
data["Subject"].value_counts()

48     14450
41     13334
60     11666
58     11117
9      11107
       ...
146      570
49       555
143      428
86       395
0          1
Name: Subject, Length: 148, dtype: int64

In [ ]:
X= data.loc[:,data.columns != target]

X.head()

,Subject,Cycle,Time,RR-I,HR,R-H,P-H,QRS,PRQ,QT,QTC,ST
0,1,1,1.072,0.932,64.377682,3.305,3.810,0.088,0.160,0.384,0.397762,0.296
1,1,2,2.004,1.004,59.760956,3.285,3.810,0.100,0.160,0.640,0.638724,0.540
2,1,3,3.008,0.996,60.240964,3.340,3.830,0.128,0.148,0.628,0.629260,0.500
3,1,4,4.004,1.016,59.055118,3.325,3.810,0.108,0.172,0.388,0.384933,0.280
4,1,5,5.020,0.972,61.728395,3.290,3.765,0.100,0.160,0.372,0.377320,0.272

In [ ]:
Y = data[target]

Y.head()

0    ischemic
1    ischemic
2    ischemic
3    ischemic
4    ischemic
Name: Type, dtype: object

In [ ]:
Y.value_counts()

ischemic      581219
healthy       267360
arrhythmic     40238
Name: Type, dtype: int64

In [ ]:
def train_test_split(data,X,Y,test_size,feature):

    f=Y.value_counts()
    rows=X.shape[0]
    talika=[]
    count=0
    for i in f:
        talika.append(i)
    train_size=1-test_size
    start=0

    switch=False

    key=0
    for i in talika :

        train=start+int(i*train_size)
        f= data[feature][train]
        count1=0
        count2=0
        index1=train
        index2=train+1
        count2=0
        end=start+i-1
        
        while data[feature][index1]==f:
            if index1<start:
                break
            index1-=1
            count1+=1
            
            
        while data[feature][index2]==f:
            if index2>end:
                break
            index2+=1
            count2+=1

        if count1>=count2:
            train+=count2
        else:
            train-=count1
        
        
        if switch == False:
            X_train= X[start:train+1]
            X_test= X[train+1:end]
            Y_train = Y[start:train+1]
            Y_test = Y[train+1:end]
            switch=True

        else:
            X_train=pd.concat([X_train, X[start:train+1]], ignore_index=True)
            X_test=pd.concat([X_test, X[train+1:end+1]], ignore_index=True)
            Y_train=pd.concat([Y_train, Y[start:train+1]], ignore_index=True)
            Y_test=pd.concat([Y_test, Y[train+1:end+1]], ignore_index=True)

        start=start+i
        key+=1

    print('Train Percentage:',X_train.shape[0]/rows)

    return X_train,X_test,Y_train,Y_test

In [ ]:
 X_train, X_test, Y_train, Y_test = train_test_split(data,X,Y, test_size=0.2, feature= 'Subject')

Train Percentage: 0.7993580230801166

In [ ]:
Y_test.value_counts()

ischemic      116816
healthy        53471
arrhythmic      8047
Name: Type, dtype: int64

In [ ]:
Y_train.value_counts()

ischemic      464403
healthy       213889
arrhythmic     32191
Name: Type, dtype: int64

In [ ]:
X_train.head(-1)

,Subject,Cycle,Time,RR-I,HR,R-H,P-H,QRS,PRQ,QT,QTC,ST
0,1,1,1.072000,0.932000,64.377682,3.305,3.810,0.088000,0.160000,0.384000,0.397762,0.296000
1,1,2,2.004000,1.004000,59.760956,3.285,3.810,0.100000,0.160000,0.640000,0.638724,0.540000
2,1,3,3.008000,0.996000,60.240964,3.340,3.830,0.128000,0.148000,0.628000,0.629260,0.500000
3,1,4,4.004000,1.016000,59.055118,3.325,3.810,0.108000,0.172000,0.388000,0.384933,0.280000
4,1,5,5.020000,0.972000,61.728395,3.290,3.765,0.100000,0.160000,0.372000,0.377320,0.272000
...,...,...,...,...,...,...,...,...,...,...,...,...
710477,133,1974,1440.841667,0.769444,77.978339,0.730,-0.725,0.097222,0.161111,0.486111,0.554175,0.388889
710478,133,1975,1441.611111,0.772222,77.697842,0.825,-0.670,0.100000,0.155556,0.475000,0.540533,0.375000
710479,133,1976,1442.383333,0.763889,78.545455,0.870,-0.665,0.105556,0.155556,0.480556,0.549830,0.377778
710480,133,1977,1443.147222,0.775000,77.419355,0.830,-0.705,0.100000,0.169444,0.477778,0.542719,0.377778
710481,133,1978,1443.922222,0.788889,76.056338,0.815,-0.700,0.102778,0.169444,0.477778,0.537920,0.383333

In [ ]:
X_test.head(-1)

,Subject,Cycle,Time,RR-I,HR,R-H,P-H,QRS,PRQ,QT,QTC,ST
0,62,134,120.640000,0.856000,70.093458,2.275,-0.435,0.140000,0.132000,0.412000,0.445308,0.292000
1,62,214,193.020000,0.796000,75.376884,1.905,-0.590,0.132000,0.128000,0.380000,0.425919,0.272000
2,62,220,198.192000,0.916000,65.502183,1.860,-0.425,0.132000,0.128000,0.392000,0.409580,0.284000
3,62,443,402.000000,1.388000,43.227666,0.955,-0.480,0.144000,0.132000,0.400000,0.339520,0.304000
4,62,868,784.132000,0.680000,88.235294,2.200,-0.435,0.136000,0.128000,0.372000,0.451116,0.260000
...,...,...,...,...,...,...,...,...,...,...,...,...
178328,140,737,480.888889,0.633333,94.736842,0.780,-0.305,0.063889,0.163889,0.377778,0.474701,0.325000
178329,140,738,481.522222,0.638889,93.913043,0.680,-0.315,0.063889,0.158333,0.402778,0.503910,0.350000
178330,140,739,482.161111,0.652778,91.914894,0.660,-0.335,0.066667,0.163889,0.411111,0.508834,0.355556
178331,140,740,482.813889,0.675000,88.888889,0.605,-0.345,0.066667,0.172222,0.413889,0.503770,0.358333
178332,140,741,483.488889,0.647222,92.703863,0.795,-0.335,0.055556,0.161111,0.397222,0.493750,0.341667

In [ ]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier ( random_state=0)

rf.fit(X_train,Y_train)

y_pred = rf.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score

print(accuracy_score(Y_test,y_pred)) # model prediction

0.996966366480873

In [ ]:
from sklearn.ensemble import AdaBoostClassifier

ada = AdaBoostClassifier()

ada.fit(X_train, Y_train)

y_pred = ada.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score

print(accuracy_score(Y_test,y_pred))

1.0

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier

GBC = GradientBoostingClassifier()

GBC.fit(X_train, Y_train)

y_pred = ada.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score

print(accuracy_score(Y_test,y_pred))

1.0

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()
knn.fit(X_train, Y_train)

y_pred=knn.predict(X_test)

from sklearn.metrics import accuracy_score

print(accuracy_score(Y_test,y_pred))

C:\Users\ahtes\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

0.8167651709713235

In [ ]:
from sklearn.naive_bayes import GaussianNB

gnb = GaussianNB()

gnb.fit(X_train, Y_train)

y_pred = gnb.predict(X_test)


from sklearn.metrics import accuracy_score

print(accuracy_score(Y_test,y_pred))

0.9156414368544417

In [ ]:
def train_test_split(X,Y,test_size,feature):
    dict={}
    count=0
    for i in Y:
        if i not in dict.keys():
            dict[i]=count
        count+=1
    rows=X.shape[0]
    train_size=1-test_size
    train=int(rows*train_size)
    
    f=X[feature][train]
    count1=0
    index1=train

    while X[feature][index1]==f:
        index1-=1
        count1+=1
    index2=train+1
    count2=0
    while X[feature][index2]==f:
        index2+=1
        count2+=1
    if count1>count2:
        train+=count2
    else:
        train-=count1

    test=rows-train
    print('Train Subject start and end:',X['Subject'][0],'To',X['Subject'][train])
    print('Test Subject start and end:',X['Subject'][train+1],'To',X['Subject'][rows-1])
    print('Train Percentage:',train/rows)
    X_train= X[:train+2]
    X_test= X[train+1:]
    Y_train = Y[:train+2]
    Y_test = Y[train+1:]
    return X_train,X_test,Y_train,Y_test