<a href="https://colab.research.google.com/github/Ahtesham-Ibne-Mostafa/Machine_Etymology/blob/main/DS_Healthcare_version_2_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [3]:
data= pd.read_excel('DS-Healthcare_version_2.xlsx')

In [4]:
target = 'Type'

In [5]:
X= data.loc[:,data.columns != target]

X.head(-1)

,Subject,Cycle,Time,RR-I,HR,R-H,P-H,QRS,PRQ,QT,QTC,ST
0,E1,1,1.072000,0.932000,64.377682,3.305,3.810,0.088000,0.160000,0.384000,0.397762,0.296000
1,E1,2,2.004000,1.004000,59.760956,3.285,3.810,0.100000,0.160000,0.640000,0.638724,0.540000
2,E1,3,3.008000,0.996000,60.240964,3.340,3.830,0.128000,0.148000,0.628000,0.629260,0.500000
3,E1,4,4.004000,1.016000,59.055118,3.325,3.810,0.108000,0.172000,0.388000,0.384933,0.280000
4,E1,5,5.020000,0.972000,61.728395,3.290,3.765,0.100000,0.160000,0.372000,0.377320,0.272000
...,...,...,...,...,...,...,...,...,...,...,...,...
888811,M28,738,481.522222,0.638889,93.913043,0.680,-0.315,0.063889,0.158333,0.402778,0.503910,0.350000
888812,M28,739,482.161111,0.652778,91.914894,0.660,-0.335,0.066667,0.163889,0.411111,0.508834,0.355556
888813,M28,740,482.813889,0.675000,88.888889,0.605,-0.345,0.066667,0.172222,0.413889,0.503770,0.358333
888814,M28,741,483.488889,0.647222,92.703863,0.795,-0.335,0.055556,0.161111,0.397222,0.493750,0.341667
888815,M28,742,484.136111,0.647222,92.703863,0.825,-0.330,0.069444,0.152778,0.400000,0.497202,0.344444

In [6]:
Y = data[target]

Y.head()

0    ischemic
1    ischemic
2    ischemic
3    ischemic
4    ischemic
Name: Type, dtype: object

In [7]:
Y.value_counts()

ischemic      581219
healthy       267360
arrhythmic     40238
Name: Type, dtype: int64

In [8]:
def train_test_split(X,Y,test_size,feature):

    f=Y.value_counts()
    rows=X.shape[0]
    talika=[]
    count=0
    for i in f:
        talika.append(i)
    train_size=1-test_size
    start=0

    switch=False

    for i in talika :

        train=start+int(i*train_size)
        f= X[feature][train]
        count1=0
        count2=0
        index1=train
        index2=train+1
        end=start+i-1
        
        while X[feature][index1]==f:
            if index1<start:
                break
            index1-=1
            count1+=1
            
            
        while X[feature][index2]==f:
            if index2>end:
                break
            index2+=1
            count2+=1

        if count1>=count2:
            train+=count2
        else:
            train-=count1
        
        
        if switch == False:
            X_train= X[start:train+1]
            X_test= X[train+1:end]
            Y_train = Y[start:train+1]
            Y_test = Y[train+1:end]
            switch=True

        else:
            X_train=pd.concat([X_train, X[start:train+1]], ignore_index=True)
            X_test=pd.concat([X_test, X[train+1:end+1]], ignore_index=True)
            Y_train=pd.concat([Y_train, Y[start:train+1]], ignore_index=True)
            Y_test=pd.concat([Y_test, Y[train+1:end+1]], ignore_index=True)

        start=start+i

    print('Train Percentage:',X_train.shape[0]/rows)

    return X_train,X_test,Y_train,Y_test

In [9]:
 X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.2, feature= 'Subject')

Train Percentage: 0.8002839729663137

In [10]:
X_train= X_train.loc[:,X_train.columns != 'Subject']
X_train= X_train.loc[:,X_train.columns != 'Time']
X_train= X_train.loc[:,X_train.columns != 'Cycle']

X_test= X_test.loc[:,X_test.columns != 'Subject']
X_test= X_test.loc[:,X_test.columns != 'Time']
X_test= X_test.loc[:,X_test.columns != 'Cycle']

In [11]:
Y_test.value_counts()

ischemic      116816
healthy        53135
arrhythmic      7559
Name: Type, dtype: int64

In [12]:
Y_train.value_counts()

ischemic      464402
healthy       214225
arrhythmic     32679
Name: Type, dtype: int64

In [13]:
X_train.head(-1)

,RR-I,HR,R-H,P-H,QRS,PRQ,QT,QTC,ST
0,0.932000,64.377682,3.305,3.810,0.088000,0.160000,0.384000,0.397762,0.296000
1,1.004000,59.760956,3.285,3.810,0.100000,0.160000,0.640000,0.638724,0.540000
2,0.996000,60.240964,3.340,3.830,0.128000,0.148000,0.628000,0.629260,0.500000
3,1.016000,59.055118,3.325,3.810,0.108000,0.172000,0.388000,0.384933,0.280000
4,0.972000,61.728395,3.290,3.765,0.100000,0.160000,0.372000,0.377320,0.272000
...,...,...,...,...,...,...,...,...,...
711300,0.716667,83.720930,0.725,-0.765,0.111111,0.161111,0.472222,0.557812,0.372222
711301,0.694444,86.400000,0.725,-0.795,0.105556,0.161111,0.452778,0.543333,0.355556
711302,0.722222,83.076923,0.685,-0.780,0.094444,0.155556,0.477778,0.562200,0.383333
711303,0.713889,84.046693,0.760,-0.730,0.111111,0.161111,0.480556,0.568759,0.372222
711304,0.711111,84.375000,0.735,-0.725,0.105556,0.161111,0.458333,0.543516,0.361111

In [14]:
X_test.head(-1)

,RR-I,HR,R-H,P-H,QRS,PRQ,QT,QTC,ST
0,0.856000,70.093458,2.275,-0.435,0.140000,0.132000,0.412000,0.445308,0.292000
1,0.796000,75.376884,1.905,-0.590,0.132000,0.128000,0.380000,0.425919,0.272000
2,0.916000,65.502183,1.860,-0.425,0.132000,0.128000,0.392000,0.409580,0.284000
3,1.388000,43.227666,0.955,-0.480,0.144000,0.132000,0.400000,0.339520,0.304000
4,0.680000,88.235294,2.200,-0.435,0.136000,0.128000,0.372000,0.451116,0.260000
...,...,...,...,...,...,...,...,...,...
177504,0.638889,93.913043,0.680,-0.315,0.063889,0.158333,0.402778,0.503910,0.350000
177505,0.652778,91.914894,0.660,-0.335,0.066667,0.163889,0.411111,0.508834,0.355556
177506,0.675000,88.888889,0.605,-0.345,0.066667,0.172222,0.413889,0.503770,0.358333
177507,0.647222,92.703863,0.795,-0.335,0.055556,0.161111,0.397222,0.493750,0.341667
177508,0.647222,92.703863,0.825,-0.330,0.069444,0.152778,0.400000,0.497202,0.344444

In [15]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier (n_estimators=200, max_depth=10, random_state=0)

rf.fit(X_train,Y_train)

y_pred = rf.predict(X_test)

In [16]:
from sklearn.metrics import accuracy_score

print(accuracy_score(Y_test,y_pred)) # model prediction

0.8071432595346741

In [17]:
from sklearn.ensemble import AdaBoostClassifier

ada = AdaBoostClassifier()

ada.fit(X_train, Y_train)

y_pred = ada.predict(X_test)

In [18]:
from sklearn.metrics import accuracy_score

print(accuracy_score(Y_test,y_pred))

0.8468255309560024

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier

GBC = GradientBoostingClassifier()
GBC.fit(X_train, Y_train)

y_pred = GBC.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score

print(accuracy_score(Y_test,y_pred))

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()
knn.fit(X_train, Y_train)

y_pred=knn.predict(X_test)

from sklearn.metrics import accuracy_score

print(accuracy_score(Y_test,y_pred))

C:\Users\ahtes\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

0.8167651709713235

In [ ]:
from sklearn.naive_bayes import GaussianNB

gnb = GaussianNB()

gnb.fit(X_train, Y_train)

y_pred = gnb.predict(X_test)


from sklearn.metrics import accuracy_score

print(accuracy_score(Y_test,y_pred))

0.9156414368544417

In [ ]:
def train_test_split(X,Y,test_size,feature):
    dict={}
    count=0
    for i in Y:
        if i not in dict.keys():
            dict[i]=count
        count+=1
    rows=X.shape[0]
    train_size=1-test_size
    train=int(rows*train_size)
    
    f=X[feature][train]
    count1=0
    index1=train

    while X[feature][index1]==f:
        index1-=1
        count1+=1
    index2=train+1
    count2=0
    while X[feature][index2]==f:
        index2+=1
        count2+=1
    if count1>count2:
        train+=count2
    else:
        train-=count1

    test=rows-train
    print('Train Subject start and end:',X['Subject'][0],'To',X['Subject'][train])
    print('Test Subject start and end:',X['Subject'][train+1],'To',X['Subject'][rows-1])
    print('Train Percentage:',train/rows)
    X_train= X[:train+2]
    X_test= X[train+1:]
    Y_train = Y[:train+2]
    Y_test = Y[train+1:]
    return X_train,X_test,Y_train,Y_test