<a href="https://colab.research.google.com/github/Ahtesham-Ibne-Mostafa/Machine_Etymology/blob/main/Null_Value_removal_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [72]:
import pandas as pd
import numpy as np

In [73]:
df=pd.read_csv('https://raw.githubusercontent.com/Ahtesham-Ibne-Mostafa/Machine_Etymology/main/Datasets/NCHS_-_Potentially_Excess_Deaths_from_the_Five_Leading_Causes_of_Death.csv')

In [74]:
df.head()

,Year,Cause of Death,State,State FIPS Code,HHS Region,Age Range,Benchmark,Locality,Observed Deaths,Population,Expected Deaths,Potentially Excess Deaths,Percent Potentially Excess Deaths
0,2005,Cancer,Alabama,AL,4,0-49,2005 Fixed,All,756.0,3148377.0,451.0,305.0,40.3
1,2005,Cancer,Alabama,AL,4,0-49,2005 Fixed,Metropolitan,556.0,2379871.0,341.0,217.0,39.0
2,2005,Cancer,Alabama,AL,4,0-49,2005 Fixed,Nonmetropolitan,200.0,768506.0,111.0,89.0,44.5
3,2005,Cancer,Alabama,AL,4,0-49,2010 Fixed,All,756.0,3148377.0,421.0,335.0,44.3
4,2005,Cancer,Alabama,AL,4,0-49,2010 Fixed,Metropolitan,556.0,2379871.0,318.0,238.0,42.8

In [75]:
df.shape

(205920, 13)

In [76]:
df['Cause of Death'].unique()

array(['Cancer', 'Chronic Lower Respiratory Disease', 'Heart Disease',
       'Stroke', 'Unintentional Injury'], dtype=object)

In [77]:
df.isnull().sum()

Year                                     0
Cause of Death                           0
State                                    0
State FIPS Code                          0
HHS Region                               0
Age Range                                0
Benchmark                                0
Locality                                 0
Observed Deaths                      10212
Population                            5280
Expected Deaths                      10212
Potentially Excess Deaths            10212
Percent Potentially Excess Deaths    10212
dtype: int64

In [78]:
a=df.isnull().sum()

In [79]:
print(type(a))

<class 'pandas.core.series.Series'>

In [80]:
for i in a.keys():
    print(df[i].dtypes,'------------',a[i])

int64 ------------ 0
object ------------ 0
object ------------ 0
object ------------ 0
int64 ------------ 0
object ------------ 0
object ------------ 0
object ------------ 0
float64 ------------ 10212
float64 ------------ 5280
float64 ------------ 10212
float64 ------------ 10212
float64 ------------ 10212

In [81]:
filtered_rows = df[df.isnull().any(axis=1)]

In [82]:
filtered_rows.head(10)

,Year,Cause of Death,State,State FIPS Code,HHS Region,Age Range,Benchmark,Locality,Observed Deaths,Population,Expected Deaths,Potentially Excess Deaths,Percent Potentially Excess Deaths
262,2005,Cancer,Delaware,DE,3,0-84,Floating,Nonmetropolitan,NaN,NaN,NaN,NaN,NaN
468,2005,Cancer,New Jersey,NJ,2,0-64,2005 Fixed,Nonmetropolitan,NaN,NaN,NaN,NaN,NaN
508,2005,Cancer,Delaware,DE,3,0-49,2005 Fixed,Nonmetropolitan,NaN,NaN,NaN,NaN,NaN
511,2005,Cancer,Delaware,DE,3,0-49,2010 Fixed,Nonmetropolitan,NaN,NaN,NaN,NaN,NaN
514,2005,Cancer,Delaware,DE,3,0-49,Floating,Nonmetropolitan,NaN,NaN,NaN,NaN,NaN
517,2005,Cancer,Delaware,DE,3,0-54,2005 Fixed,Nonmetropolitan,NaN,NaN,NaN,NaN,NaN
520,2005,Cancer,Delaware,DE,3,0-54,2010 Fixed,Nonmetropolitan,NaN,NaN,NaN,NaN,NaN
523,2005,Cancer,Delaware,DE,3,0-54,Floating,Nonmetropolitan,NaN,NaN,NaN,NaN,NaN
526,2005,Cancer,Delaware,DE,3,0-59,2005 Fixed,Nonmetropolitan,NaN,NaN,NaN,NaN,NaN
529,2005,Cancer,Delaware,DE,3,0-59,2010 Fixed,Nonmetropolitan,NaN,NaN,NaN,NaN,NaN

In [83]:
filtered_rows.shape

(10212, 13)

In [84]:
filtered_rows = df[df['Cause of Death'] == 'Unintentional Injury']

In [85]:
filtered_rows.isnull().sum()

Year                                    0
Cause of Death                          0
State                                   0
State FIPS Code                         0
HHS Region                              0
Age Range                               0
Benchmark                               0
Locality                                0
Observed Deaths                      1056
Population                           1056
Expected Deaths                      1056
Potentially Excess Deaths            1056
Percent Potentially Excess Deaths    1056
dtype: int64

In [86]:
mean_value = filtered_rows['Observed Deaths'].mean()

In [87]:
df.loc[filtered_rows.index, 'Observed Deaths'] = replacement_value

NameError: ignored

In [ ]:
df['Observed Deaths'].max()

In [ ]:
filtered_rows = df[df['Observed Deaths'].isna()]

In [ ]:
df.loc[filtered_rows.index, 'Observed Deaths'] = mean_value

In [ ]:
df.isnull().sum()