<a href="https://colab.research.google.com/github/Ahtesham-Ibne-Mostafa/Machine_Etymology/blob/main/Spliting_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
data= pd.read_excel('/content/drive/MyDrive/Research data/DS-Healthcare_version_2.xlsx')

In [3]:
target = 'Type'

In [4]:
X= data.loc[:,data.columns != target]

X.head()

,Subject,Cycle,Time,RR-I,HR,R-H,P-H,QRS,PRQ,QT,QTC,ST
0,E1,1,1.072,0.932,64.377682,3.305,3.810,0.088,0.160,0.384,0.397762,0.296
1,E1,2,2.004,1.004,59.760956,3.285,3.810,0.100,0.160,0.640,0.638724,0.540
2,E1,3,3.008,0.996,60.240964,3.340,3.830,0.128,0.148,0.628,0.629260,0.500
3,E1,4,4.004,1.016,59.055118,3.325,3.810,0.108,0.172,0.388,0.384933,0.280
4,E1,5,5.020,0.972,61.728395,3.290,3.765,0.100,0.160,0.372,0.377320,0.272

In [5]:
Y = data[target]

Y.head()

0    ischemic
1    ischemic
2    ischemic
3    ischemic
4    ischemic
Name: Type, dtype: object

In [42]:
Y.value_counts()

ischemic      581219
healthy       267360
arrhythmic     40238
Name: Type, dtype: int64

In [41]:
test_size=0.2
f=Y.value_counts()
rows=X.shape[0]
talika=[]
count=0
for i in f:
    talika.append(i)
train_size=1-test_size

for i in dict.keys():
    rows-
    train=int(train_size*dict[i])
    print(train)

464975
213888
32190

In [11]:
def train_test_split(X,Y,test_size,feature):
    dict={}
    count=0
    for i in Y:
        if i not in dict.keys():
            dict[i]=count
        count+=1
    rows=X.shape[0]
    train_size=1-test_size
    train=int(rows*train_size)
    
    f=X[feature][train]
    count1=0
    index1=train
    while X[feature][index1]==f:
        index1-=1
        count1+=1
    index2=train+1
    count2=0
    while X[feature][index2]==f:
        index2+=1
        count2+=1

    if count1>count2:
        train+=count2
    else:
        train-=count1

    test=rows-train
    print('Train Subject start and end:',X['Subject'][0],'To',X['Subject'][train])
    print('Test Subject start and end:',X['Subject'][train+1],'To',X['Subject'][rows-1])
    print('Train Percentage:',train/rows)
    X_train= X[:train+2]
    X_test= X[train+1:]
    Y_train = Y[:train+2]
    Y_test = Y[train+1:]
    return X_train,X_test,Y_train,Y_test

In [12]:

X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.2, feature= 'Subject')

Train Subject start and end: E1 To F20
Test Subject start and end: F21 To M28
Train Percentage: 0.8027152945994507

In [13]:
Y_train.value_counts()

ischemic    581219
healthy     132250
Name: Type, dtype: int64

In [14]:
Y_test.value_counts()

healthy       135111
arrhythmic     40238
Name: Type, dtype: int64

In [15]:
data['Type'].value_counts()

ischemic      581219
healthy       267360
arrhythmic     40238
Name: Type, dtype: int64