<a href="https://colab.research.google.com/github/Ahtesham-Ibne-Mostafa/Machine_Etymology/blob/main/University_Ranking.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import math

In [ ]:
df=pd.read_csv('/content/World University Rankings 2023.csv')                       # Reading Csv file with pandas

In [ ]:
df.head()                                                              # shows the first 5 rows of the csv file

,University Rank,Name of University,Location,No of student,No of student per staff,International Student,Female:Male Ratio,OverAll Score,Teaching Score,Research Score,Citations Score,Industry Income Score,International Outlook Score
0,1,University of Oxford,United Kingdom,"20,965",10.6,42%,48 : 52,96.4,92.3,99.7,99.0,74.9,96.2
1,2,Harvard University,United States,"21,887",9.6,25%,50 : 50,95.2,94.8,99.0,99.3,49.5,80.5
2,3,University of Cambridge,United Kingdom,"20,185",11.3,39%,47 : 53,94.8,90.9,99.5,97.0,54.2,95.8
3,3,Stanford University,United States,"16,164",7.1,24%,46 : 54,94.8,94.2,96.7,99.8,65.0,79.8
4,5,Massachusetts Institute of Technology,United States,"11,415",8.2,33%,40 : 60,94.2,90.7,93.6,99.8,90.9,89.3

In [ ]:

df.columns                                                        #---> returns all names of columns as a list

In [ ]:
df.describe()                                                #--> Statistical descriptions of different types of data

In [ ]:
df.info()                                                     # shows Non null value and data type(string == object)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2341 entries, 0 to 2340
Data columns (total 13 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   University Rank              2341 non-null   object
 1   Name of University           2233 non-null   object
 2   Location                     2047 non-null   object
 3   No of student                2209 non-null   object
 4   No of student per staff      2208 non-null   float64
 5   International Student        2209 non-null   object
 6   Female:Male Ratio            2128 non-null   object
 7   OverAll Score                1799 non-null   object
 8   Teaching Score               1799 non-null   float64
 9   Research Score               1799 non-null   float64
 10  Citations Score              1799 non-null   float64
 11  Industry Income Score        1799 non-null   float64
 12  International Outlook Score  1799 non-null   float64
dtypes: float64(6), object(7)
memory usage: 237.9+ KB

In [ ]:
df.shape                                                      # shows rows and columns

(2341, 13)

In [ ]:
df = df.drop('Location', axis=1)                            # drops the column

In [ ]:
df=df.dropna().reset_index(drop=True)                           # drops all the null values rows and resets the index number

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1621 entries, 0 to 1620
Data columns (total 12 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   University Rank              1621 non-null   object
 1   Name of University           1621 non-null   object
 2   No of student                1621 non-null   object
 3   No of student per staff      1621 non-null   float64
 4   International Student        1621 non-null   object
 5   Female:Male Ratio            1621 non-null   object
 6   OverAll Score                1621 non-null   object
 7   Teaching Score               1621 non-null   float64
 8   Research Score               1621 non-null   float64
 9   Citations Score              1621 non-null   float64
 10  Industry Income Score        1621 non-null   float64
 11  International Outlook Score  1621 non-null   float64
dtypes: float64(6), object(6)
memory usage: 152.1+ KB

In [ ]:
target='University Rank'

In [ ]:

df[target].unique()                         # shows the unique values of a column

In [ ]:
from sklearn.preprocessing import LabelEncoder                                # it helps to convert object to integer
label_encoder = LabelEncoder()


df['University Rank'] = label_encoder.fit_transform(df['University Rank'])
df['Name of University'] = label_encoder.fit_transform(df['Name of University'])
df['No of student'] = label_encoder.fit_transform(df['No of student'])
df['International Student'] = label_encoder.fit_transform(df['International Student'])
df['Female:Male Ratio'] = label_encoder.fit_transform(df['Female:Male Ratio'])
df['OverAll Score'] = label_encoder.fit_transform(df['OverAll Score'])

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1621 entries, 0 to 1620
Data columns (total 12 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   University Rank              1621 non-null   int64
 1   Name of University           1621 non-null   int64
 2   No of student                1621 non-null   int64
 3   No of student per staff      1621 non-null   float64
 4   International Student        1621 non-null   int64
 5   Female:Male Ratio            1621 non-null   int64
 6   OverAll Score                1621 non-null   int64
 7   Teaching Score               1621 non-null   float64
 8   Research Score               1621 non-null   float64
 9   Citations Score              1621 non-null   float64
 10  Industry Income Score        1621 non-null   float64
 11  International Outlook Score  1621 non-null   float64
dtypes: float64(6), int64(6)
memory usage: 152.1 KB

In [ ]:
X= df.loc[:,df.columns != target]                                               # every columns goes to X except the target

Y = df[target]                                                                  # target column is Y

In [ ]:
from sklearn.model_selection import train_test_split                            # X and Y is spited into text and train segments

X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.2)

RandomForest Classifier

In [ ]:
%%time                                                                          # shows the run time

from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier(n_jobs=-1)

clf.fit(X_train, Y_train)                                                       # Fitting the training segment into the model

y_pred = clf.predict(X_test)                                                    # the model is predicting the test cases

CPU times: user 1.29 s, sys: 56.6 ms, total: 1.35 s
Wall time: 1.54 s

In [ ]:
from sklearn.metrics import accuracy_score                                      # it compares the predicted values with the real values and give a score of prediction rate

score = accuracy_score(Y_test,y_pred)

print(score)

0.8676923076923077

ADABoost Classifier

In [ ]:
from sklearn.ensemble import AdaBoostClassifier

ada = AdaBoostClassifier()

ada.fit(X_train, Y_train)

y_pred = ada.predict(X_test)

In [ ]:
score = accuracy_score(Y_test,y_pred)

print(score)

0.3230769230769231

GradientBoosting Classifier

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier

GBC = GradientBoostingClassifier()

GBC.fit(X_train, Y_train)

y_pred = ada.predict(X_test)

In [ ]:
print(accuracy_score(Y_test,y_pred))

0.3230769230769231

KN Classifier

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()
knn.fit(X_train, Y_train)

y_pred=knn.predict(X_test)

In [ ]:
print(accuracy_score(Y_test,y_pred))

0.2123076923076923

Naive Bayes

In [ ]:
from sklearn.naive_bayes import GaussianNB

gnb = GaussianNB()

gnb.fit(X_train, Y_train)

y_pred = gnb.predict(X_test)

In [ ]:
print(accuracy_score(Y_test,y_pred))

0.8923076923076924

SVM Classifier

In [ ]:
from sklearn.svm import SVC

svm_classifier = SVC(kernel='linear')

svm_classifier.fit(X_train, Y_train)

y_pred = svm_classifier.predict(X_test)

In [ ]:
print(accuracy_score(Y_test,y_pred))

0.8523076923076923

Logitic Regression

In [ ]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression(random_state = 0)
lr.fit(X_train, Y_train)
y_pred = lr.predict(X_test)

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [ ]:
print(accuracy_score(Y_test,y_pred))

0.3076923076923077

CAT Boosting