<a href="https://colab.research.google.com/github/Ahtesham-Ibne-Mostafa/Machine_Etymology/blob/main/University_Ranking.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [141]:
import pandas as pd
import numpy as np
import math

In [142]:
df=pd.read_csv('https://raw.githubusercontent.com/Ahtesham-Ibne-Mostafa/Machine_Etymology/main/Datasets/World%20University%20Rankings%202023.csv')                       # Reading Csv file with pandas

In [143]:
df.head()                                                              # shows the first 5 rows of the csv file

,University Rank,Name of University,Location,No of student,No of student per staff,International Student,Female:Male Ratio,OverAll Score,Teaching Score,Research Score,Citations Score,Industry Income Score,International Outlook Score
0,1,University of Oxford,United Kingdom,"20,965",10.6,42%,48 : 52,96.4,92.3,99.7,99.0,74.9,96.2
1,2,Harvard University,United States,"21,887",9.6,25%,50 : 50,95.2,94.8,99.0,99.3,49.5,80.5
2,3,University of Cambridge,United Kingdom,"20,185",11.3,39%,47 : 53,94.8,90.9,99.5,97.0,54.2,95.8
3,3,Stanford University,United States,"16,164",7.1,24%,46 : 54,94.8,94.2,96.7,99.8,65.0,79.8
4,5,Massachusetts Institute of Technology,United States,"11,415",8.2,33%,40 : 60,94.2,90.7,93.6,99.8,90.9,89.3

In [144]:

df.columns                                                        #---> returns all names of columns as a list

Index(['University Rank', 'Name of University', 'Location', 'No of student',
       'No of student per staff', 'International Student', 'Female:Male Ratio',
       'OverAll Score', 'Teaching Score', 'Research Score', 'Citations Score',
       'Industry Income Score', 'International Outlook Score'],
      dtype='object')

In [145]:
df.describe()                                                #--> Statistical descriptions of different types of data

,No of student per staff,Teaching Score,Research Score,Citations Score,Industry Income Score,International Outlook Score
count,2208.000000,1799.000000,1799.000000,1799.000000,1799.000000,1799.000000
mean,19.000408,27.018010,23.016898,48.495887,47.104558,46.880378
std,12.132224,13.282243,16.763819,27.967185,15.093682,22.582401
min,0.400000,11.600000,7.400000,0.800000,36.900000,14.100000
25%,12.600000,18.000000,11.300000,23.100000,37.800000,27.900000
50%,16.600000,22.700000,17.000000,47.200000,40.500000,42.100000
75%,22.200000,31.850000,28.900000,72.350000,48.300000,62.100000
max,232.200000,94.800000,99.700000,100.000000,100.000000,99.700000

In [146]:
df.info()                                                     # shows Non null value and data type(string == object)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2341 entries, 0 to 2340
Data columns (total 13 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   University Rank              2341 non-null   object
 1   Name of University           2233 non-null   object
 2   Location                     2047 non-null   object
 3   No of student                2209 non-null   object
 4   No of student per staff      2208 non-null   float64
 5   International Student        2209 non-null   object
 6   Female:Male Ratio            2128 non-null   object
 7   OverAll Score                1799 non-null   object
 8   Teaching Score               1799 non-null   float64
 9   Research Score               1799 non-null   float64
 10  Citations Score              1799 non-null   float64
 11  Industry Income Score        1799 non-null   float64
 12  International Outlook Score  1799 non-null   float64
dtypes: float64(6), object(7)
memory usage: 237.9+ KB

In [147]:
df.shape                                                      # shows rows and columns

(2341, 13)

In [148]:
df = df.drop('Location', axis=1)                            # drops the column

In [149]:
df=df.dropna().reset_index(drop=True)                           # drops all the null values rows and resets the index number

In [150]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1621 entries, 0 to 1620
Data columns (total 12 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   University Rank              1621 non-null   object
 1   Name of University           1621 non-null   object
 2   No of student                1621 non-null   object
 3   No of student per staff      1621 non-null   float64
 4   International Student        1621 non-null   object
 5   Female:Male Ratio            1621 non-null   object
 6   OverAll Score                1621 non-null   object
 7   Teaching Score               1621 non-null   float64
 8   Research Score               1621 non-null   float64
 9   Citations Score              1621 non-null   float64
 10  Industry Income Score        1621 non-null   float64
 11  International Outlook Score  1621 non-null   float64
dtypes: float64(6), object(6)
memory usage: 152.1+ KB

In [151]:
target='University Rank'

In [152]:

df[target].unique()                         # shows the unique values of a column

array(['1', '2', '3', '5', '6', '7', '8', '9', '10', '11', '13', '14',
       '15', '18', '19', '20', '21', '22', '23', '24', '25', '26', '28',
       '29', '30', '31', '32', '33', '34', '35', '36', '37', '38', '40',
       '41', '42', '43', '44', '46', '47', '48', '49', '50', '51', '52',
       '53', '54', '57', '59', '60', '62', '63', '64', '65', '66', '68',
       '69', '70', '71', '73', '75', '76', '77', '78', '79', '80', '82',
       '85', '86', '88', '89', '90', '91', '93', '94', '95', '98', '99',
       '101', '104', '106', '107', '108', '110', '112', '113', '114',
       '117', '119', '121', '122', '123', '124', '126', '127', '128',
       '130', '131', '133', '134', '136', '137', '139', '144', '145',
       '147', '148', '151', '154', '155', '156', '160', '161', '163',
       '166', '168', '170', '174', '175', '176', '180', '181', '182',
       '183', '186', '187', '189', '191', '192', '194', '196', '198',
       '201–250', '251–300', '301–350', '351–400', '401–500', '501–600',
       '601–800', '801–1000', '1001–1200', '1201–1500', '1501+'],
      dtype=object)

In [153]:
from sklearn.preprocessing import LabelEncoder                                # it helps to convert object to integer
label_encoder = LabelEncoder()


df['University Rank'] = label_encoder.fit_transform(df['University Rank'])
df['Name of University'] = label_encoder.fit_transform(df['Name of University'])
df['No of student'] = label_encoder.fit_transform(df['No of student'])
df['International Student'] = label_encoder.fit_transform(df['International Student'])
df['Female:Male Ratio'] = label_encoder.fit_transform(df['Female:Male Ratio'])
df['OverAll Score'] = label_encoder.fit_transform(df['OverAll Score'])

In [154]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1621 entries, 0 to 1620
Data columns (total 12 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   University Rank              1621 non-null   int32
 1   Name of University           1621 non-null   int32
 2   No of student                1621 non-null   int32
 3   No of student per staff      1621 non-null   float64
 4   International Student        1621 non-null   int32
 5   Female:Male Ratio            1621 non-null   int32
 6   OverAll Score                1621 non-null   int32
 7   Teaching Score               1621 non-null   float64
 8   Research Score               1621 non-null   float64
 9   Citations Score              1621 non-null   float64
 10  Industry Income Score        1621 non-null   float64
 11  International Outlook Score  1621 non-null   float64
dtypes: float64(6), int32(6)
memory usage: 114.1 KB

In [155]:
X= df.loc[:,df.columns != target]                                               # every columns goes to X except the target

Y = df[target]                                                                  # target column is Y

In [156]:
from sklearn.model_selection import train_test_split                            # X and Y is spited into text and train segments

X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.2)

RandomForest Classifier

In [157]:

from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier(n_jobs=-1)

clf.fit(X_train, Y_train)                                                       # Fitting the training segment into the model

y_pred = clf.predict(X_test)                                                    # the model is predicting the test cases

In [158]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
print(confusion_matrix(Y_test, y_pred))
print(classification_report(Y_test,y_pred))
print("Accurecy: ",accuracy_score(Y_test, y_pred))

[[ 0  0  0 ...  0  0  0]
 [ 0 30  0 ...  0  0  0]
 [ 0  0  0 ...  0  0  0]
 ...
 [ 0  0  0 ...  0  0  0]
 [ 0  0  0 ...  0  0  0]
 [ 0  0  0 ...  0  0  0]]
              precision    recall  f1-score   support

           1       0.00      0.00      0.00         0
           2       1.00      1.00      1.00        30
           3       0.00      0.00      0.00         1
           4       0.00      0.00      0.00         2
           5       0.00      0.00      0.00         0
           6       0.00      0.00      0.00         0
           7       0.00      0.00      0.00         0
           8       0.00      0.00      0.00         1
          12       0.00      0.00      0.00         0
          15       1.00      1.00      1.00        42
          17       0.00      0.00      0.00         0
          19       0.00      0.00      0.00         1
          24       0.00      0.00      0.00         1
          25       0.00      0.00      0.00         1
          26       0.00      0.00      0.00         1
          27       0.00      0.00      0.00         1
          29       0.00      0.00      0.00         0
          30       0.00      0.00      0.00         1
          35       0.00      0.00      0.00         1
          37       1.00      1.00      1.00        62
          38       0.00      0.00      0.00         0
          39       0.00      0.00      0.00         0
          52       0.00      0.00      0.00         1
          54       0.00      0.00      0.00         1
          55       0.00      0.00      0.00         2
          57       0.00      0.00      0.00         0
          60       0.00      0.00      0.00         1
          62       0.00      0.00      0.00         1
          67       0.54      0.88      0.67         8
          69       0.00      0.00      0.00         0
          70       0.00      0.00      0.00         0
          73       1.00      0.76      0.87        17
          74       0.00      0.00      0.00         1
          75       0.00      0.00      0.00         0
          76       0.00      0.00      0.00         1
          77       0.00      0.00      0.00         1
          79       0.60      0.75      0.67         8
          83       0.00      0.00      0.00         0
          85       0.78      0.70      0.74        10
          88       0.00      0.00      0.00         1
          90       0.83      1.00      0.91        20
          95       0.00      0.00      0.00         0
         100       0.00      0.00      0.00         0
         101       1.00      1.00      1.00        23
         102       0.00      0.00      0.00         0
         105       0.00      0.00      0.00         2
         109       0.00      0.00      0.00         0
         110       1.00      1.00      1.00        33
         112       0.00      0.00      0.00         1
         113       0.00      0.00      0.00         0
         115       0.00      0.00      0.00         0
         118       0.00      0.00      0.00         0
         122       0.00      0.00      0.00         1
         123       0.00      0.00      0.00         1
         124       0.00      0.00      0.00         1
         129       1.00      1.00      1.00        40
         130       0.50      1.00      0.67         1
         136       0.00      0.00      0.00         1
         137       0.00      0.00      0.00         1
         139       0.00      0.00      0.00         1
         140       0.00      0.00      0.00         1

    accuracy                           0.87       325
   macro avg       0.17      0.18      0.17       325
weighted avg       0.86      0.87      0.87       325

Accurecy:  0.8738461538461538

C:\Users\ahtes\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\ahtes\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\ahtes\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\ahtes\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\ahtes\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\ahtes\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

ADABoost Classifier

In [159]:
from sklearn.ensemble import AdaBoostClassifier

ada = AdaBoostClassifier()

ada.fit(X_train, Y_train)

y_pred = ada.predict(X_test)

In [160]:
print(confusion_matrix(Y_test, y_pred))
print(classification_report(Y_test,y_pred))
print("Accurecy: ",accuracy_score(Y_test, y_pred))

[[30  0  0 ...  0  0  0]
 [ 0  0  0 ...  0  0  0]
 [ 0  0  0 ...  0  0  0]
 ...
 [ 0  0  0 ...  0  0  0]
 [ 0  0  0 ...  0  0  0]
 [ 0  0  0 ...  0  0  0]]
              precision    recall  f1-score   support

           2       1.00      1.00      1.00        30
           3       0.00      0.00      0.00         1
           4       0.00      0.00      0.00         2
           8       0.00      0.00      0.00         1
          15       1.00      1.00      1.00        42
          19       0.00      0.00      0.00         1
          24       0.00      0.00      0.00         1
          25       0.00      0.00      0.00         1
          26       0.00      0.00      0.00         1
          27       0.00      0.00      0.00         1
          30       0.05      1.00      0.09         1
          35       0.00      0.00      0.00         1
          37       1.00      1.00      1.00        62
          41       0.00      0.00      0.00         0
          52       0.00      0.00      0.00         1
          54       0.00      0.00      0.00         1
          55       0.00      0.00      0.00         2
          60       0.00      0.00      0.00         1
          62       0.00      0.00      0.00         1
          67       0.00      0.00      0.00         8
          72       0.00      0.00      0.00         0
          73       0.00      0.00      0.00        17
          74       0.00      0.00      0.00         1
          76       0.00      0.00      0.00         1
          77       0.00      0.00      0.00         1
          79       0.24      1.00      0.39         8
          80       0.00      0.00      0.00         0
          85       0.00      0.00      0.00        10
          88       0.00      0.00      0.00         1
          90       0.38      1.00      0.55        20
         101       0.00      0.00      0.00        23
         105       0.00      0.00      0.00         2
         110       1.00      1.00      1.00        33
         112       0.00      0.00      0.00         1
         122       0.00      0.00      0.00         1
         123       0.00      0.00      0.00         1
         124       0.00      0.00      0.00         1
         129       1.00      1.00      1.00        40
         130       0.00      0.00      0.00         1
         135       0.00      0.00      0.00         0
         136       0.00      0.00      0.00         1
         137       0.00      0.00      0.00         1
         139       0.00      0.00      0.00         1
         140       0.00      0.00      0.00         1

    accuracy                           0.73       325
   macro avg       0.13      0.18      0.14       325
weighted avg       0.67      0.73      0.68       325

Accurecy:  0.7261538461538461

C:\Users\ahtes\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\ahtes\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\ahtes\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\ahtes\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\ahtes\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\ahtes\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

GradientBoosting Classifier

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier

GBC = GradientBoostingClassifier()

GBC.fit(X_train, Y_train)

y_pred = ada.predict(X_test)

In [ ]:
print(confusion_matrix(Y_test, y_pred))
print(classification_report(Y_test,y_pred))
print("Accurecy: ",accuracy_score(Y_test, y_pred))

KN Classifier

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()
knn.fit(X_train, Y_train)

y_pred=knn.predict(X_test)

In [ ]:
print(confusion_matrix(Y_test, y_pred))
print(classification_report(Y_test,y_pred))
print("Accurecy: ",accuracy_score(Y_test, y_pred))

Naive Bayes

In [ ]:
from sklearn.naive_bayes import GaussianNB

gnb = GaussianNB()

gnb.fit(X_train, Y_train)

y_pred = gnb.predict(X_test)

In [ ]:
print(confusion_matrix(Y_test, y_pred))
print(classification_report(Y_test,y_pred))
print("Accurecy: ",accuracy_score(Y_test, y_pred))

SVM Classifier

In [ ]:
from sklearn.svm import SVC

svm_classifier = SVC(kernel='linear')

svm_classifier.fit(X_train, Y_train)

y_pred = svm_classifier.predict(X_test)

In [ ]:
print(confusion_matrix(Y_test, y_pred))
print(classification_report(Y_test,y_pred))
print("Accurecy: ",accuracy_score(Y_test, y_pred))

Logitic Regression

In [ ]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression(random_state = 0)
lr.fit(X_train, Y_train)
y_pred = lr.predict(X_test)

In [ ]:
print(confusion_matrix(Y_test, y_pred))
print(classification_report(Y_test,y_pred))
print("Accurecy: ",accuracy_score(Y_test, y_pred))

CAT Boosting

In [ ]:
!pip install catboost

In [ ]:
from catboost import CatBoostClassifier

# Create a CatBoostClassifier
model = CatBoostClassifier()

# Fit the model to the training data
model.fit(X_train, Y_train)

# Make predictions on test data
y_pred = model.predict(X_test)

In [ ]:
print(confusion_matrix(Y_test, y_pred))
print(classification_report(Y_test,y_pred))
print("Accurecy: ",accuracy_score(Y_test, y_pred))